h1 {
color: orange;
text-align: center;
}

#caja-uno {
 background-color: blue;
    margin-left: 50px;
    margin-right: 50px;
}
#caja-dos {
background-color: red;
padding: 10px;
    box-shadow: 5px;
}